discord.log
discord_music.log

level-out.jpg
data/levelup/level_up.jpg
data/levelup/level_out.jpg
users.db

data/opus.dll

data/admins.json
data/apikeys.json
data/login.json

data/custom_commands/*
data/league/champions/*
data/command_ignores/*
data/league/*

realms/na.json

data/music/*

ids_test.py

*.pyc